<%- include('./header') %>
<div class="hero-image">
    <div class="grid-block hero-inner">
        <div class="grid-container">
            <div class="grid-content hero-content">
                <div class="grid-block">
                    <h1>Export your historical Fitbit data for free</h1>
                </div>
                <div class="grid-block align-center">
                    <div class="grid-block small-3">
                        <div class="grid-content">
                            <a href="https://www.fitbit.com/settings/data/export"
                                data-event-category="fitbit-redirect"
                                data-event-action="log-in"
                                data-event-label="method"
                                data-event-value="hero"
                                class="login-button">
                                Get Started on Fitbit.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid-block explanation small-up-1 large-up-1">
    <div class="grid-block">
        <div class="grid-container">
            <h2>What was this app?</h2>
            <p>
                This app used to extract your data from Fitbit. However, Fitbit made an <a 
                    data-event-category="fitbit-redirect"
                    data-event-action="log-in"
                    data-event-label="method"
                    data-event-value="inline"
                    href="https://www.fitbit.com/settings/data/export">official tool</a> that does the same thing, but better. So, this app has been decommissioned. Cheers!
            </p>
    </div>
</div>
<%- include('./footer') %>
 